<h2>Progress for <%= @user_course.user.name %> in <%= @user_course.course.name %></h2>
<%= form_for(@user_course) do |f| %>
    <%= f.label :grade, 'Progress' %>
    <%= f.text_area :grade, placeholder: "Enter Progress Status Here", required: true %><br>

    <%= f.submit "Update Progress" %>

<% end %>