    <p>
        <%= link_to "Update Profile", edit_user_path(current_user) %>
    </p>
    <table>
        
            <tr>
                <th>Courses</th>
                <th>Users</th>
                <th>Attendance</th>
            </tr>
            <tr>
                <td><%= link_to "Manage Courses", courses_path %> <br> <%= link_to "Create Course", new_course_path %></td>
                <td><%= link_to "Manage Users", users_path %> <br> <%= link_to "Create User", new_user_path %></td>
                <td><%= link_to "Manage Attendance", attendances_path %> <br> <%= link_to "Take Attendance", courses_path %></td>
            </tr>
    </table>
