<h2>Welcome, <%= current_user.name %>! [<%= current_user.role %>] </h2>

<div class="alert alert-info error_explanation">
  <%= flash[:notice] %>
</div>

<% if !current_user.role?('admin') || current_user != @user %>
    <% if current_user.role?('admin') %>
        <%= render 'admin' %>
        <br>
        <h2>Viewing <%= @user.name %>'s Homepage [<%= @user.role %>] </h2>
    <% end %>
    
    <% if @user.role?('student') %>
        <p>
            <%= link_to 'View Attendance', user_attendances_path(@user) %> |
            <%= link_to "Update Profile", edit_user_path(@user) %> 
            <% if current_user.role?('admin') %>
                | <%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </p>
    <% end %>

    <% if @user.role?('teacher')%>
        <p>
            <%= link_to "Update Profile", edit_user_path(@user) %>
            <% if current_user.role?('admin') %>
                | <%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </p>
    <% end %>

    <div><form>
        <input type="button" value="Print Weekly Schedule" onClick="window.print()">
    </form></div><br>

    <h3>Today's Schedule (<%= @user.get_today %>):</h3>
    <table>
        <tr>
            <th>Time</th>
            <th>Course</th>
            <% if current_user.role?('teacher') %>
                <th>Attendance</th>
            <% end %>
        </tr>
        <% Course.sort_by_time(@user.todays_schedule).each do |course| %>
            <tr>
                <td><%= course.time %></td>
                <td><%= link_to course.name, course_path(course) %></td>
                <% if current_user.role?('teacher') %><td>
                    <%= link_to 'Take Attendance', new_course_attendance_path(course) %>
                </td><% end %>
            </tr>
        <% end %>
    </table>

    <br>
    <div class="print">
        <h3><%= @user.name %>'s Weekly Schedule:</h3>
        <table>
            <tr>
            <th>Time</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            </tr>
        <% @shash.each do |time, dhash| %>
            <tr>
                <td><%= time %></td>
                <% ["Mon", "Tue", "Wed", "Thu", "Fri"].each do |day| %>
                    <% if dhash[day] %>
                        <td>
                        <% first = true %>
                        <% dhash[day].each do |course| %>
                            <% if !first %>
                                <br>
                            <% end %>
                            <%= link_to course.name, course_path(course) %> <br><%= course.location %>
                            <% first = false %>
                        <% end %>
                        </td>
                    <% else %>
                            <td></td>
                    <% end %>
                <% end %>
            </tr>
            <% end %>
        </table>
    </div>

    <br>
    <h3>Your Courses:</h3>
        <table>
            <tr>
                <th>Course Name</th>
                <th>Schedule</th>
                <th>Time</th>
                <th>Teachers</th>
                <% if @user.role?('student') %>
                    <th>Current Progress</th>
                <% end %>
                <% if current_user.role?('teacher') %>
                    <th>Enrollment</th>
                    <th>Options</th>
                <% end %>
            </tr>
            <% Course.sort_by_name(@user.courses).each do |course| %>
                <tr>
                    <td><%= link_to course.name, course_path(course) %></a></td>
                    <td><%= course.weekly_schedule %></td>
                    <td><%= course.time %></td>
                    <td><%= course.role_list('teacher') %></td>
                    <% if @user.role?('student') %>
                        <td><%= UserCourse.get_grade(@user, course.id)%></td>
                    <% end %>
                    <% if current_user.role?('teacher') %>
                        <td>(<%= course.get_users_count('student') %>/<%= course.capacity %> students)</td>
                        <td>
                            <%= link_to 'Edit', edit_course_path(course) %> | 
                            <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %> |
                            <%= link_to 'Take Attendance', new_course_attendance_path(course) %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
<% else %>
    <%= render 'admin' %>
<% end %>