<div class="print attendance">
<h2>All <%= flash[:alert] %> Users</h2>


<div class= "hideprint" >
    <div><form>
        <input type="button" value="Print Users List" onClick="window.print()">
    </form></div>

<div class="alert alert-info error_explanation">
  <%= flash[:notice] %>
  <% flash.clear %>
</div>

<p>
    <%= link_to "Create User", new_user_path %>
</p>

<div>
    <h3>Filter Users:</h3>
    <%= form_tag(users_path, method: 'get') do %>
         <!-- new code: filter by course -->
        <%= label_tag :role, "By Role" %>
        <%= select_tag :role, options_for_select(["Student", "Teacher", "Admin"]) %>
        <%= submit_tag "Filter" %>
    <% end %>
    <%= form_tag(users_path, method: 'get') do %>
        <%= submit_tag "Clear Filters" %>
    <% end %>
    <br>
</div>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Courses</th>
        <th>First Created</th>
        <th>Last Updated</th>
        <th>Attendance</th>
        <th>User Options</th>
    </tr>
    <% @users.sort_by{|u| u.name}.each do |user| %>
        <tr>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= user.role %></td>
            <td><%= user.course_list %></td>
            <td><%= first_created(user) %></td>
            <td><%= last_updated(user) %></td>
            <td>
                <% if user.role?('student') %>
                    <%= link_to 'View', user_attendances_path(user) %>
                <% end %>
            </td>
            <td>
                <%= link_to 'Edit', edit_user_path(user) %> | 
                <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
    <% end %>
</table>
</div>