<% if @course.errors.any? %>
  <div class="error_explanation">
    <h4>
      <%= pluralize(@course.errors.count, "error") %>
      prohibited this course from being saved:
    </h4>
 
    <ul>
    <% @course.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@course) do |f| %>
    <h3 style="float: left">Course Logistics - </h3>
    <h3 style="font-weight: normal">Please fill out all fields</h3>

    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, placeholder: "Enter Course Name Here", required: true %><br>

    <%= f.label :description, "Description:" %>
    <%= f.text_area :description, placeholder: "Enter Description Here", required: true %><br>

    <%= f.label :capacity, "Capacity:" %>
    <%= f.number_field :capacity, placeholder: "Enter Capacity Here", required: true %><br>

    <%= f.label :location, "Location:" %>
    <%= f.select(:location, ['TBD', 'Barn', 'Computer Lab', 'Daehler', 'Greenhouse', 'Music Room', 'Oikos', 'Palmer', 'WTC'])%><br><br>

    <%= f.label :weekly_schedule, 'Schedule:' %>
    
    <% if request.env['PATH_INFO'] != new_course_path %>
      <div class="error_explanation">
        [Note] The original weekly schedule for this course was: <%= @course.weekly_schedule %>
      </div>
    <% end %>

    <% ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"].each do |day| %>
      <%= f.check_box :weekly_schedule, {multiple: true}, day, nil %><%= day %>
    <% end %><br>

    <%= f.label :military_start_time, "Start Time:" %>
    <%= f.time_field :military_start_time, required: true %>

    <%= f.label :duration, "Duration:" %>
    <%= f.select(:duration, [['50 min', 50]]) %><br><br>

    <h3 style="float: left">Teachers - </h3>
    <h3 style="font-weight: normal"> You may optionally add other teachers now or you can do so at a later time</h3>
        <% User.all_users('teacher').each do |teacher| %>
            <% if teacher.id == current_user.id %>
              <%= f.check_box :user_ids, {multiple: true, checked: true}, teacher.id, nil %><%= teacher.name %> (You) <br>
            <% else %>
              <%= f.check_box :user_ids, {multiple: true}, teacher.id, nil %><%= teacher.name %><br>
            <% end %>
        <% end %>
    <br>

    <h3 style="float: left">Students - </h3>
    <h3 style="font-weight: normal"> You may optionally enroll students now or you can do so at a later time</h3>
        <% User.all_users('student').each do |student| %>
            <%= f.check_box :user_ids, {multiple: true}, student.id, nil %><%= student.name %><br>
        <% end %>
    <br>

    <%= f.submit %>
<% end %>