<% if @course.errors.any? %>
  <div class="error_explanation">
    <h4>
      <%= pluralize(@course.errors.count, "error") %>
      prohibited this course from being saved:
    </h4>
 
    <ul>
    <% @course.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@course) do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, placeholder: "Enter Course Name Here", required: true %><br>

    <%= f.label :description, "Description:" %>
    <%= f.text_area :description, placeholder: "Enter Description Here", required: true %><br>

    <%= f.label :capacity, "Capacity:" %>
    <%= f.number_field :capacity, placeholder: "Enter Capacity Here", required: true %><br>

    <%= f.label :location, "Location:" %>
    <%= f.text_field :location, placeholder: "Enter Location Here", required: true %><br>

    <%= f.label :weekly_schedule, 'Schedule:' %>

    <% ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"].each do |day| %>
      <%= f.check_box :weekly_schedule, {multiple: true}, day, nil %><%= day %>
    <% end %><br>

    <%= f.label :military_start_time, "Start Time:" %>
    <%= f.time_field :military_start_time %>

    <%= f.label :duration, "Duration:" %>
    <%= f.select(:duration, [['1 hr', 60], ['30 min', 30], ['1 hr 30 min', 90], ['2 hr', 120]])%><br>

    <%= f.submit %>
<% end %>