<h2>Course Catalog</h2>

<div class="alert alert-info error_explanation">
  <%= flash[:notice] %>
</div>

<% if current_user.role?('admin') %>
    <p>
        <%= link_to "Create Course", new_course_path %>
    </p>
<% end %>

<table>
    <tr>
        <th>Course Name</th>
        <th>Schedule</th>
        <th>Time</th>
        <th>Teachers</th>
        <th>Enrollment</th>
        <% if current_user.role?('admin') || current_user.role?('teacher') %>
            <th>Options</th>
        <% end %>
    </tr>
    <% Course.sort_by_time(Course.all).each do |course| %>
        <tr>
            <td><%= link_to course.name, course_path(course) %></td>
            <td><%= course.weekly_schedule %></td>
            <td><%= course.time %></td>
            <td><%= course.role_list('teacher') %></td>
            <td>(<%= course.get_users_count('student') %>/<%= course.capacity %> students)</td>
            
            <% if admin_or_teacher_ownership?(course) %>
                <td>
                    <%= link_to 'Edit', edit_course_path(course) %> | 
                    <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %> |
                    <%= link_to 'Take Attendance', new_course_attendance_path(course) %>
                </td>
            <% end %>
            
        </tr>
    <% end %>
</table>