<h2><%= @course.name %></h2>

<h3>Description: </h3>
<p><%= @course.description %></p>

<h3>Enrollment: </h3>
<p> <%= @course.get_users_count('student') %> / <%= @course.capacity %> student(s) enrolled </p>

<h3>Location:</h3> 
<p><%= @course.location %></p>

<h3>Schedule:</h3> 
<p><%= @course.weekly_schedule %></p>

<h3>Time:</h3> 
<p><%= @course.time %> (<%= @course.duration %> minutes)</p>

<h3>Teachers: </h3>
    <ol><% @course.get_users('teacher').each do |teacher| %>
        <li><%= teacher.name %></li>
    <% end %></ol>

<h3>Students: </h3>
    <ol><% @course.get_users('student').each do |student| %>
        <li><%= student.name %></li>
    <% end %></ol>

<br>
<% if (current_user.role?('teacher') && current_user.courses.include?(@course)) || (current_user.role?('admin')) %>
    <table>
        <tr>

            <td><%= link_to 'Edit', edit_course_path(@course) %></td>
            <td><%= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Back', courses_path %></td>
        </tr>
    </table>
<% end %>




