<h2><%= @course.name %></h2>

<div class="alert alert-info error_explanation">
  <%= flash[:notice] %>
</div>

<% if admin_or_teacher_ownership?(@course) %>
    <table>
        <tr>
            <td><%= link_to 'Take Attendance', new_course_attendance_path(@course) %></td>
            <td><%= link_to 'View Attendance', course_attendances_path(@course) %></td>
            <td><%= link_to 'Edit', edit_course_path(@course) %></td>
            <td><%= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Back', courses_path %></td>
        </tr>
    </table>
<% end %>
<br>

<h3>Description: </h3>
<p><%= @course.description %></p>

<h3>Enrollment: </h3>
<p> <%= @course.get_users_count('student') %> / <%= @course.capacity %> student(s) enrolled </p>

<h3>Location:</h3> 
<p><%= @course.location %></p>

<h3>Schedule:</h3> 
<p><%= @course.weekly_schedule %></p>

<h3>Time:</h3> 
<p><%= @course.time %> (<%= @course.duration %> minutes)</p>

<h3>Teachers: </h3>
    <ol><% @course.get_users('teacher').each do |teacher| %>
        <li><%= teacher.name %></li>
    <% end %></ol>

<h3>Students: </h3>
    <table>
        <tr>
            <th>Count</th>
            <th>Name</th>
            <% if admin_or_teacher_ownership?(@course) %>
                <th>Current Progress Status</th>
                <th>Update Progress</th>
            <% end %>
        </tr>
    <% @course.get_users('student').each.with_index(1) do |student, index| %>
        <tr>
            <td><%= index %></td>
            <% if current_user.role?('admin') %>
                <td><%= link_to student.name, student  %></td> 
            <% else %>
                <td><%= student.name %></td> 
            <% end %>
            <% if admin_or_teacher_ownership?(@course) %> 
                <td><%= UserCourse.get_grade(student.id, @course.id) %></td>
                <td><%= link_to "Update Progress", edit_user_course_path(UserCourse.find_by_user_course(student.id, @course.id)) %></td>
            <% end %>
        </tr> 
    <% end %>
    </table>
