<% if @attendance.errors.any? %>
  <div class="error_explanation">
    <h4>
      <%= pluralize(@attendance.errors.count, "error") %>
      prohibited this attendance record from being saved:
    </h4>
 
    <ul>
    <% @attendance.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@attendance) do |f| %>

  <%= f.hidden_field :course_id, value: @attendance.course.id %>

  <%= f.label :date %>
  <%= f.date_select :date, required: true %>

  <br>
  <h3>Students: </h3>
    <table>
        <tr>
            <th>Count</th>
            <th>Name</th>
            <th>Attendance</th>
        </tr>
      <%= f.fields_for :attendance_entries do |ae| %>
        <%= ae.hidden_field :user_id, value: ae.object.user_id %>
        <tr>
          <td><%= ae.index + 1 %></td>
          <td><%= ae.object.user.name %></td>
          <td>
            <%= ae.radio_button :status, 'present', :checked => true %> 
            <%= label :status, 'Present' %>
            <%= ae.radio_button :status, 'excused' %>
            <%= label :status, 'Excused' %>
            <%= ae.radio_button :status, 'absent' %>
            <%= label :status, 'Absent' %>
          </td>
        </tr>
      <% end %>
    </table>
    
    <br>
    <%= f.submit "Submit Attendance" %>
<% end %>