
<%= form_for(@attendance) do |f| %>

    <%= f.hidden_field :course_id, value: @course.id %>

    <%= f.label :date %>
    <%= f.date_select :date %>

    <h3>Students: </h3>
    <ol><% @course.get_users('student').each do |student| %>
        <li> <%= f.check_box :attendee_ids, {multiple: true}, student.id, nil %><%= student.name %><br></li>
    <% end %></ol>

    <%= f.submit "Submit Attendance" %>

<% end %>