<h2>Attendance Record for 
    <% if @record.class != String %>
        <%= @record.name %>
    <% else %>
        All Courses
    <% end %>
</h2>


<div class="alert alert-info error_explanation">
  <%= flash[:notice] %>
</div>


<table>
    <tr>
        <th>Course</th>
        <th>Date</th>
        <th>Present</th>
        <th>Absent</th>
        <th>Options</th>
    </tr>
    <% @attendances.each do |attendance| %>
        <tr>
            <td><%= attendance.course.name %></td>
            <td><%= format_date(attendance.date) %></td>
            <td><%= attendance.attendee_list %></td>
            <td><%= attendance.absentee_list %></td>
            <td>
                <%= link_to 'View', course_attendance_path(attendance.course, attendance) %> |
                <%= link_to 'Edit', edit_course_attendance_path(attendance.course, attendance) %> | 
                <%= link_to 'Delete', attendance, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
    <% end %>
</table>






