<div class="print attendance">

<h2>Attendance Record for 
    <% if @record.class != String %>
        <%= link_to @record.name, @record %>
    <% else %>
        <%= @record %>
    <% end %>
</h2>

    <div><form>
        <input type="button" value="Print Attendance Record" onClick="window.print()">
    </form></div><br>


<div class="alert alert-info error_explanation">
  <%= flash[:notice] %>
</div>

<% if @record == "All Courses" %>
    <div>
    <h3>Filter Attendance Records:</h3>
    <%= form_tag(attendances_path, method: 'get') do %>
         <!-- new code: filter by course -->
        <%= label_tag :course_id, "By Course" %>
        <%= select_tag :course_id, options_from_collection_for_select(Course.all, :id, :name), include_blank: true %>

        <!-- new code: filter by student -->
        <%= label_tag :user_id, "By Student"%>
        <%= select_tag :user_id, options_from_collection_for_select(User.all_users('student'), :id, :name), include_blank: true %>
        <%= submit_tag "Filter" %>
    <% end %>
    </div>
    <br>
<% end %>


<table>
    <tr>
        <th>Course</th>
        <th>Date</th>
        <% if request.env['PATH_INFO'].include?("users") || @user %>
            <th class="present">Present</th>
        <% end %>
        <th class="absent">Absent</th>
        <% if current_user.role?('admin') || current_user.role?('teacher') %>
            <th>Options</th>
        <% end %>
    </tr>
    <% @attendances.each do |attendance| %>
        <tr>
            <td><%= link_to attendance.course.name, course_path(attendance.course) %></td>
            <td><%= format_date(attendance.date) %></td>
            <% if request.env['PATH_INFO'].include?("users") || @user %>
                <% if attendance.attendees.include?(@user) %>
                    <td class="present">X</td>
                    <td></td>
                <% else %>
                    <td></td>
                    <td class="absent">X</td>
                <% end %>
            <% else %>
                <td><%= attendance.absentee_list %></td>
            <% end %>
                <% if admin_or_teacher_ownership?(attendance.course) %>
                    <td>
                    <%= link_to 'View', course_attendance_path(attendance.course, attendance) %> |
                    <%= link_to 'Edit', edit_course_attendance_path(attendance.course, attendance) %> | 
                    <%= link_to 'Delete', attendance, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                <% elsif current_user.role?('teacher') %>
                    <td>N/A</td>
                <% end %>
        </tr>
    <% end %>
</table>

</div>




