<h2>Attendance Record for 
    <% if @record.class != String %>
        <%= link_to @record.name, @record %>
    <% else %>
        <%= @record %>
    <% end %>
</h2>


<div class="alert alert-info error_explanation">
  <%= flash[:notice] %>
</div>

<% if @record == "All Courses" %>
    <div>
    <h3>Filter Attendance Records:</h3>
    <%= form_tag(attendances_path, method: 'get') do %>
         <!-- new code: filter by course -->
        <%= label_tag :course_id, "By Course" %>
        <%= select_tag :course_id, options_from_collection_for_select(Course.all, :id, :name), include_blank: true %>

        <!-- new code: filter by student -->
        <%= label_tag :user_id, "By Student"%>
        <%= select_tag :user_id, options_from_collection_for_select(User.all_users('student'), :id, :name), include_blank: true %>
        <%= submit_tag "Filter" %>
    <% end %>
    </div>
    <br>
<% end %>


<table>
    <tr>
        <th>Course</th>
        <th>Date</th>
        <th>Present</th>
        <th>Absent</th>
        <th>Options</th>
    </tr>
    <% @attendances.each do |attendance| %>
        <tr>
            <td><%= link_to attendance.course.name, course_path(attendance.course) %></td>
            <td><%= format_date(attendance.date) %></td>
            <td><%= attendance.attendee_list %></td>
            <td><%= attendance.absentee_list %></td>
            <td>
                <% if admin_or_teacher_ownership?(attendance.course) %>
                    <%= link_to 'View', course_attendance_path(attendance.course, attendance) %> |
                    <%= link_to 'Edit', edit_course_attendance_path(attendance.course, attendance) %> | 
                    <%= link_to 'Delete', attendance, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>






